<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="todoContainer/todoContainer.css">
</head>
<body >
    <div class="todoList" ng-controller="todoCtrl" ng-init="getTodos()">
        <div class="date">
            <div class="date__details">
                <span class="day">{{date | date:"dd"}}</span>
                <div class="monthYear">
                    <p>{{month}}</p>
                    <p>{{date | date:"yyyy"}}</p>
                </div>
            </div>
            <p class="date__details">{{day}}</p>
        </div>
        <div class="todoListApp">
            <h3 class="todoListApp__header">Todo App</h3>
        
            <div class="todoListApp__addTodo">
                <add-todo class="addTodo" set-current-text='setCurrentText' send='send' ng-keydown="$event.keyCode === 13 && inputText !== '' && send(inputText)"></add-todo>
            </div>
    
            <div class="todoListApp__tasks" auto-scroll>
                <ul>
                    <li x-lvl-draggable="true" drag="task" on-drop-success="dropSuccessHandler($index, tasks)" ng-repeat="task in tasks track by $index">{{task}}<i class="far fa-trash-alt deleteTodo" ng-click="dropSuccessHandler($index, tasks)"></i></li>
                </ul>
            </div>
    
            <div class="done" auto-scroll>
                <h3>Done!</h3>
                <ul drop-target="onDrop($data, readyTasks)">
                    <li ng-repeat="rt in readyTasks track by $index" drop-target="true">{{rt}}<i class="far fa-trash-alt deleteTodo" ng-click="dropSuccessHandler($index, readyTasks)"></i></li>
                </ul>
            </div>
    
            <div class="todoListApp__footer">
                <span>You have {{messages.length}} pending tasks</span>
                <button class="todoListApp__btn clearBtn" ng-click="clean()">Clear All</button>
            </div>
        </div>
    </div>
</body>

</html>
