@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(99,216,208);
    background: linear-gradient(180deg, #0cf2e3 0%, #5ab9d7 42%, #4a7fe5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}